.uploadContainer {
    background-color: rgb(242, 238, 238);
    padding: 10px;
}

mt-10{
    margin: top 10px;
}

// .upload-btn{
//     background-color: rgb(241, 241, 241);
//     width: 100px;
//     height: 30px;
//     text-align: center;
//     padding: auto;
//     color: white;
// }
.diclairation{
    margin-top: 10px;
}

.fileUploadHeading{
    font-size: 16px;
}